.auth-container {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    /*background: #fff;*/
    /*border-radius: 12px;*/
    /*box-shadow: 0 4px 12px rgba(0,0,0,0.1);*/
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}

.auth-container h2 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #111;
}

.auth-input {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 24px;
    background: #f0f0f0;
    font-size: 16px;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.auth-btn {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 8px;
    background: #dbefff;
    color: #111;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background .2s;
}
.auth-btn:hover {
    background: #c4ddff;
}

.divider {
    position: relative;
    margin: 24px 0;
    font-size: 14px;
    color: #666;
}
.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ddd;
}
.divider::before { left: 0; }
.divider::after  { right: 0; }

.social-login {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}
.social-login a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform .2s, filter .2s;
}
.social-login a img:hover {
    filter: brightness(0.5) saturate(0%);
    transform: scale(1.2);
}

.auth-footer {
    font-size: 14px;
    color: #555;
}
.auth-footer a {
    color: #007bff;
    text-decoration: none;
}
.auth-footer a:hover {
    text-decoration: underline;
}

/* Медіа-запит для мобільних */
@media (max-width: 480px) {
    .auth-container {
        margin: 30px 16px;
        padding: 24px 16px;
    }
    .auth-container h2 {
        font-size: 20px;
    }
    .auth-input {
        font-size: 14px;
    }
    .auth-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}
