.content {
    max-width: 1500px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.news-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 1.5rem;
    align-items: center;
}
.news-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.card-image {
    width: 40%;
    max-width: 320px;
    flex-shrink: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}
.card-content h2 {
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(to right, #1a383c, #4CA7A2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.card-content p {
    margin: 0;
    line-height: 1.5;
    color: #444;
}
.card-content span {
    font-size: 0.875rem;
    color: #777;
}


@media (min-width: 320px) and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 0 0.75rem;
        gap: 1rem;
    }
    .news-card {
        flex-direction: column;
        padding: 0;
        gap: 0;
        align-items: flex-start;
    }

    .card-image {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }

    .card-image img {
        border-radius: 0;
    }

    .card-content {
        padding: 1rem;
        width: 100%;
    }

    .card-content h2 {
        font-size: 1.25rem;
    }

    .card-content p {
        font-size: 1rem;
    }

    .card-content span {
        font-size: 0.875rem;
    }
}
