.university-detail {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
}

.university-detail h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.city {font-style: oblique;
    font-weight: bold;
    font-size:  1.1rem;
    margin-bottom: 2rem;
}

.highlighted-specialty {
    background-color: #f2f8ff;
    border-left: 4px solid #2f8d77;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
}

.highlighted-specialty .spec-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.highlighted-specialty .price {
    color: #222;
    font-weight: bold;
}

.subjects {
    list-style: disc;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.other-specialties h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.spec-card {
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin-bottom: 1rem;
}

.spec-card .spec-title {
    font-weight: bold;
}

.spec-card .price {
    color: #333;
    font-size: 0.95rem;
}

.back-link {
    display: inline-block;
    margin-top: 2rem;
    border-left: 4px solid #2f8d77;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}
.back-button {
    margin-left:  2rem;
    display: inline-block;
    margin-top:  2rem;
    padding: 8px 16px;
    background-color: #eee;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}
.back-button:hover {
    background-color: #ddd;
}
.star-icon:hover {
    fill: #ffea70 !important;
    transition: fill 0.2s ease-in-out;
}
