{% extends 'base.html.twig' %}
{% block page_name %}about{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block content %}
<body>
  <div class="container">
    <div class="image-text">
      <img src="images/team.jpg" alt="Команда працює за ноутбуками">
      <div class="text-block">
          <h1>Хто ми?</h1>
        <p>
            Ми — команда ентузіастів, які вірять у силу освіти та усвідомленого вибору. Ми створили "НавчайСя" як відповідь на виклики, з якими стикаються абітурієнти під час вступу: невизначеність, інформаційне перевантаження та брак підтримки.
          <br><br>
        </p>
        <h1>Наша місія</h1>
        <p>
          Ми прагнемо допомогти кожному знайти свій шлях в освіті. Наша система аналізує результати тестування та пропонує персоналізовані рекомендації щодо вибору спеціальності та навчального закладу.
          <br>
          Ми віримо, що правильне рішення починається з розуміння себе — і саме це ми намагаємось надати кожному користувачу: прозорість, впевненість і підтримку на шляху до мрії.
        </p>

      </div>
      <div class="extra-info">
          <h1>Що далі?</h1>
          <p>Ми постійно вдосконалюємо наш сервіс, додаємо нові функції та оновлюємо базу ЗВО. Слідкуй за оновленнями!</p>
      </div>
    </div>
  </div>
</body>

{% endblock %}
