{# templates/security/auth.html.twig #}
{% extends 'base.html.twig' %}
{% block page_name %}auth{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/auth-registr.css') }}">
{% endblock %}
{% block content %}
<div class="auth-container">
    <h2>Увійдіть, будь ласка :)</h2>
    <form action="{{ path('app_login') }}" method="post">
        <input type="text" name="username" placeholder="Пошта" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Увійти</button>
    </form>

    <div class="divider">Або</div>

    <div class="social-login">
      <a href="/oauth/apple"><img src="images/apple.svg" alt="Apple"></a>
      <a href="/oauth/google"><img src="images/google.svg" alt="Google"></a>
      <a href="/oauth/facebook"><img src="images/facebook2.svg" alt="Facebook"></a>
    </div>

    <div class="auth-footer">
      Не маєте акаунту? <a href="{{ path('register') }}">Зареєструватися</a>
    </div>
  </div>
{% endblock %}
