{% extends 'base.html.twig' %}

{% block page_name %}main{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

 {% block content %}
   <section class="hero">
     <div class="hero-content">
       <h1>Навчайся — твоє майбутнє варте найкращого вибору.</h1>
       <a href="about">Дізнатись про нас більше</a>
     </div>
     <div class="hero-logo">
       <img src="images/lightbulb.svg" alt="НавчайСя логотип" class="logo">
     </div>
   </section>

   <main class="content">
     <article class="news-card">
       <div class="card-image">
         <img src="images/img1.jpg" alt="Реєстрація">
       </div>
       <div class="card-content">
         <h2>Реєстрація на ЄВІ та ЄФВВ для вступу на магістратуру</h2>
         <p>У 2025 році вступ для здобуття ступеня магістра передбачає складання єдиного вступного іспиту (ЄВІ)...</p>
         <span>30.05.2025</span>
       </div>
     </article>

     <article class="news-card">
       <div class="card-image">
         <img src="images/img2.png" alt="Реєстрація">
       </div>
       <div class="card-content">
         <h2>Тренувальні варіанти для ЗНО/НМТ</h2>
         <p>Сайт ЗНО-ОНЛАЙН пропонує майбутнім учасникам національного мультипредметного тесту 2025 року тренувальні варіанти тестів для підготовки...</p>
         <span>30.05.2025</span>
       </div>
     </article>

     <article class="news-card">
       <div class="card-image">
         <img src="images/img4.png" alt="<UNK>">
       </div>
       <div class="card-content">
         <h2>Таблиця переведення балів ЄВІ для аспірантів</h2>
         <p>Для участі у вступній кампанії у 2025 році всі вступники в аспірантуру мають подати результати єдиного вступного іспиту...</p>
       </div>
     </article>

     <article class="news-card">
       <div class="card-image">
         <img src="images/img3.jpg" alt="<UNK>">
       </div>
       <div class="card-content">
         <h2>Пільгові категорії абітурієнтів: спеціальні умови</h2>
         <p>Абітурієнти, які належать до пільгових категорій, часто запитують, на які саме пільги вони мають право при вступі...</p>
       </div>
     </article>
   </main>
 {% endblock %}
