{% extends 'base.html.twig' %}
{% block page_name %}registr{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/auth-registr.css') }}">
{% endblock %}
{% block content %}
<div class="auth-container">
    <h2>Зареєструйтесь, будь ласка :)</h2>
    <form action="{{ path('register') }}" method="post">
      <input type="text" name="email" placeholder="Пошта" class="auth-input" required>
      <input type="password" name="password" placeholder="Пароль" class="auth-input" required>
      <input type="password" name="password_confirm" placeholder="Підтвердження паролю" class="auth-input" required>
      <button type="submit" class="auth-btn">Зареєструватись</button>
    </form>

    <div class="divider">Або</div>

    <div class="social-login">
      <a href="/oauth/apple"><img src="images/apple.svg" alt="Apple"></a>
      <a href="/oauth/google"><img src="images/google.svg" alt="Google"></a>
      <a href="/oauth/facebook"><img src="images/facebook2.svg" alt="Facebook"></a>
    </div>

    <div class="auth-footer">
      Вже маєте акаунт? <a href="{{ path('app_login') }}">Увійти</a>
    </div>
  </div>
{% endblock %}
